<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        body{
            background-color: darkorchid; 
        }
        #circ {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            margin-top: 10px;
        }
        a{
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
        }
        a:hover{
        /* color: blue; */
        }
        .info:hover{
            transform: scale(1.04);
        }
        img{
            height: 400px;
        }
        h4{
            color: #DAA520
        }
        #tit{
            margin-top:10px;
            margin-left: 15px;
            font-size: 36px;
        }
        #tit:hover{
            transform: scale(1.04);
            color: #DAA520
        }
        h2{
            margin-left: 30px;
        }
        textarea{
            background-color: whitesmoke; 
        }
    </style>


    <title>Album Store</title>
</head>

<body>

    <div class="container blue darken-2">
        <div class="nav-wrapper green darken-3">
            <nav>
                <div class="nav-wrapper cyan darken-3">
                    <a href="/" class="brand-logo"><h3 id='tit'>Albumania</h3></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="register">Rejestracja</a></li>
                        <li><a href="logging">Sign In </a></li>
                        <li><a href="admin">Admin</a></li>
                        {% comment %} <li><a href="">takie tam</a></li> {% endcomment %}
                   
                    </ul>
                </div>
            {% if is_logged%}
                <div class="nav-wrapper cyan darken-5">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">Wiataj</a></li>
                        <li><a href="">{{user.name}} </a></li>
                        <li><a href=""></a><img id="circ" src="{% static 'img/nutki.jpg' %}" alt="" class="circle "></a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                <form method="POST">
                    <textarea name="nowypost" id="nowypost" cols="20" rows="5"></textarea>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj</button>
                </form>
                </div>
                </div> -->
                
            {% endif %}
        </nav>
        </div>
        <div style="clear:both"></div>
        {% if is_logged%}
        <div class="card blue-grey darken-4">
                        <div class="card-content white-text">
                        <form method="POST">
                            <span>Dodaj Post</span>
                            <textarea name="nowypost" id="nowypost" cols="20" rows="5"></textarea>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Dodaj</button>
                        </form>
                        </div>
                        </div>
        {% endif %}
        <h2> Newsy</h2>
       
        <div class="row">
        <div class="col s12 m12">
            {% for post in posts %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">{{post.title}}</span>
            <p>{{post.body}}</p>
            </div>

        </div>
        
        {% endfor%}
        </div>
        </div>
        <div style="clear:both"></div>
        
        <div class="row">
            {% comment %} {% for ti in aha %} {% endcomment %}
            <div class="col s6">
                <div class="card orange lighten-2">
                    <div class="card-image">
                        {% load static %}
                            <img src="{% static 'img/brs.jpg' %}">
                        <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <span><a href="#">Koncerty</a></span>
                </div>
            </div>
            <div class="col s6">
                <div class="card orange lighten-2">
                    <div class="card-image">
                        {% load static %}
                            <img src="{% static 'img/gitar.jpg' %}">
                        <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <span><a href="#">Albumy</a></span>
                </div>
            </div>
            <div style='clear:both'></div>
            <div class="col s6">
                <div class="card orange lighten-2">
                    <div class="card-image">
                        {% load static %}
                            <img src="{% static 'img/nutki.jpg' %}">
                        <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <span><a href="#">Wykonawcy</a></span>
                </div>
            </div>

            <div class="col s6">
                <div class="card orange lighten-2">
                    <div class="card-image">
                        {% load static %}
                            <img src="{% static 'img/vinyl.jpg' %}">
                        <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <span><a href="#">Utwory</a></span>
                </div>
            </div>
            {% comment %} {% endfor %} {% endcomment %}
        </div>

        <!-- <div class="card purple lighten-5"><a href="#">{{tile3}}</a></div>
        <div class="card purple lighten-5"><a href="#">{{tile4}}</a></div> -->

        <div class="row light-blue accent-3">
            <h1>Top 100 Albums</h1>
            {% for album in albums %}
            <a href="#">
                <div class="col s2">
                    <div class="info card small green lighten-2">
                        {{album.album_name}} <br /><br />
                        {{album.artist}} <br />
                        {{album.year}}</div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</body>

</html>